:root {
    --grey: #e2e2e2;
    --lightblue: #3E85DF;
    --darkblue: #061D47;
}

/* CONTINUE WITH COMPONENT (Erwan) */

.continue-with-container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.continue-text{
    color: var(--grey);
    font-family: forma-djr-text, sans-serif;
    font-size: 1.2rem;

}

.continue-logos-cont{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.icon {
    color: var(--grey);
    margin: auto;
}

/* BOTTOM NAVBAR (Igor) */

.nav-cont {
    background: var(--lightblue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5em 0;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    z-index: 999;
    width: 100%;
}

.nav-icon {
    color: var(--grey);
}

.nav-singlebutton-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-interline {
    width: 0.1em;
    height: 3em;
    background-color: var(--grey);
}

.nav-underline {
    width: 2.5em;
    height: 0.1em;
    background-color: var(--grey);
}

#navlast {
    margin-right: 0.5em;
}

#navfirst {
    margin-left: 0.7em;
}


/* CARDS FOR CURRENT STYLING (Erwan and Igor) */

.main-card{
    display: flex;
    justify-content: center;
}

.card-container{
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr;
    position: relative;
    justify-content: center;
    width: 85%;
    background-color: var(--grey);
    border-radius: 20px;
}

.image-cards-container{
    height: 10.1em;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
}

.image-cards{
    width: 230%;
    position: relative;
    right: 50%;
}

.content-container{
    width: auto;
    margin-left: 1rem;
    color: black;
}

.platform-cards{
    width: 15%;
}

.profile-cards-container{
    position: absolute;
    width: 1.5em;
    left: -4%;
    top: 7%;
    z-index: 99;
}

.profile-cards{
    width:100%;
    margin-bottom: 0.5rem;
    filter: drop-shadow(0 0 0.85rem rgb(56, 56, 56));
}

.text-cards{
    font-family: forma-djr-text, sans-serif;
    margin: 0.5rem 0;
}

.card-gradient {
    position: relative;
    z-index: 1;
    height: 10.1em;
}

.card-gradient:after {
    content: '';
    border-radius: 20px 0 0 20px;
    position: absolute;
    left: 0.5em; top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, 70%, var(--grey))
}

.title-content-card{
    font-size: 1.2rem;
}

.whereat-content-card{
    font-size: 1rem;
}

.description-content-card{
    font-size: 0.9rem;
}

.add-series-arrow-container{
    background-color: var(--lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 30%;
}

.add-series-arrow{
    color: var(--grey);
}

/* CARDS FOR UPCOMING STYLING (ERWAN) */

.card-container-upcoming{
    display: grid;
    grid-template-columns: 2fr 2.5fr;
    position: relative;
    justify-content: center;
    width: 85%;
    background-color: var(--grey);
    border-radius: 20px;
}

.upcoming-content-container {
    padding-right: 0.3rem;
    width: auto;
    padding-left: 1rem;
}

.upcoming-image-cards-container {
    height: 11rem;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
}

.upcoming-card-gradient {
    position: relative;
    z-index: 1;
    height: 11em;
}

.upcoming-card-gradient:after {
    content: '';
    border-radius: 20px 0 0 20px;
    position: absolute;
    left: 0.5em; top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, 70%, var(--grey))
}

.image-cards-upcoming{
    width: 230%;
    position: relative;
    right: 50%;
}


/* CARDS FOR EXPLORE STYLING (KATE) */

.explore-card-container {
    display: grid;
    grid-template-rows: 1.8fr 2fr 0.3fr;
    position: relative;
    text-align: center;
    background-color: var(--grey);
    border-radius: 20px;
    width: 45%;
    margin-top: 2em;
    margin-right: 3em;
}

.image-explore-cards-container{
    width: 9.6rem;
    overflow: hidden;
    border-radius: 20px 20px 0 0px;
}

.explore-card-gradient {
    position: relative;
    z-index: 1;
    height: 8.1rem;
}

.explore-card-gradient:after {
    content: '';
    background: linear-gradient(to bottom, transparent, 70%, var(--grey));
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
} 

.image-explore-cards{
    width: 150%;
    position: relative;
    right: 20%;
}

.explore-profile-cards-container{
    position: absolute;
    width: 1.5em;
    left: -8%;
    top: 6%;
    z-index: 99;
}

.explore-profile-cards {
    width: 120%;
    margin-bottom: 0.2rem;
    filter: drop-shadow(0 0 0.85rem rgb(56, 56, 56));
}

.explore-content-container {
    text-align: left;
    margin-left: 0.7rem;
}

.explore-title-content-card {
    font-size: 1.3rem;
    padding-bottom: 0.7rem;
    font-family: forma-djr-text, sans-serif;
}

.explore-content-card{
    font-size: 0.9rem;
    font-family: forma-djr-text, sans-serif;
}

.platform-icons {
    width: 25%;
}

.plus-button-container{
    background-color: var(--lightblue);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    bottom: -3%;
    left: 37%;
    z-index: 99;
}

.plus-button{
    color: var(--grey);
}

/* DESCRIPTION COMPONENTS (KATE) */
/* THE TOP (KATE) */
.description-image {
    width: 100%;
    position: fixed;
    z-index: -2;
}

.description-gradient {
    position: relative;
    z-index: -1;
    height: 35rem;
}

.description-gradient:after {
    content: '';
    background: linear-gradient(to bottom, transparent, 70%, rgb(37, 37, 37));
    position: fixed;
    top: 0; left: 0;
    height: 35rem;
    width: 100%;
    z-index: -1;
}

.back-button-container {
    position: fixed;
    top: 3%;
    left: 5%;
    z-index: 99;
}

.back-button {
    color: var(--peach);
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.74));
}

.text-container {
    text-shadow: 5px 3px 4px #000000;
    color: var(--grey);
    margin-top: -45%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.description-header {
    font-size: 2rem;
    font-family: forma-djr-deck, sans-serif;
    padding-bottom: 5%;
}

.description-text {
    font-family: forma-djr-text, sans-serif;
    font-size: 1rem;
}
/* THE EPISODE CARD (KATE) */
.episode-card-container{
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr;
    position: relative;
    justify-content: center;
    width: 85%;
    background-color: var(--grey);
    border-radius: 20px;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.image-episode-card {
    height: 4.8rem;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
}

.episode-image {
    width: 130%;
    position: relative;
    right: 10%;
}

.episode-name {
    font-family: forma-djr-deck, sans-serif;
    font-size: 1.1rem;
    padding-top: 6%;
    padding-left: 6%;
}

.episode-time {
    font-family: forma-djr-text, sans-serif;
    font-size: 1rem;
    padding-top: 5%;
    padding-left: 6%;
}

.add-episode {
    background-color: var(--lightblue);
    display: flex;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 120%;
}

.add-episode-button {
    color: var(--grey);
}
/* THE ACTOR (KATE) */
.actor-container {
    padding-top: 5%;
}

.actor-content {
    display: flex;
    flex-direction: row;
    padding-left: 5%;
}

.actor-image {
    width: 5rem;
}

.actor-name {
    font-family: forma-djr-deck, sans-serif;
    font-size: 1.7rem;
    color: var(--grey);
    padding-top: 7%;
    padding-left: 5%;
}

/* TOPNAV (Igor) */
.topnav-cont {
    display: flex;
    flex-direction: row;
    font-family: forma-djr-text, sans-serif;
    justify-content: space-around;
    align-items: center;
    margin: 2em 2em;
    height: 2em;
}

.topnav {
    background-color: var(--darkblue);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 9999;
}

.topnav-singleitem-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav-link {
    text-transform: uppercase;
    color: var(--grey);
    font-size: 1.3rem;
}

.topnav-interline {
    background-color: var(--grey);
    width: 0.08em;
    height: 1.1em;
    margin-bottom: 0.2em;
}

.active{
    border-bottom: var(--lightblue) 4px solid;
}

/* helping topnav on current, upcoming and wishlist */

.current-main, .upcoming-main, .wishlist-main {
    margin-top: 100px;
}

/* DESKTOP */

.desktop {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }

    /* FOOTER STYLING (Igor) */

    .footer-main {
        margin-top: 4em;
    }

    .footer-logo-cont {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer-links-cont {
        display: flex;
        justify-content: space-around;
        margin: 2em 20%;
        font-family: forma-djr-text, sans-serif;
        font-size: 1.3em;
    }

    .footer-logo {
        width: 12em;
    }
    
    .footerlink {
        text-decoration: none;
        color: var(--grey);
    }
    
    /* DESKTOP TOP NAVIGATION (Igor) */

    /* margin to mains */
    .explore-main {
        margin-top: 100px;
    }

    .topdesk-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1em 3em;
    }

    .topdesk-general-cont {
        background-color: var(--darkblue);
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 9999;
    }

    .topdesk-logo {
        width: 10em;
    }

    .topdesk-links {
        display: flex;
        font-family: forma-djr-deck, sans-serif;
        font-size: 1.5em;
    }

    .topdesk-navlink {
        color: var(--grey);
        margin-left: 1em;
    }

    /* DESKTOP TOP SECONDARY NAVIGATION (Igor) */
    
    .snd-desknav {
        margin-top: 7em;
        margin-bottom: 2em;
        display: flex;
        justify-content: center;
    }

    .snd-desknav-cont {
        display: flex;
        justify-content: space-around;
        width: 40%;
    }

    .snd-desknav-single-cont {
        text-align: center;
        width: 9em;
    }

    .snd-desknav-link {
        font-family: forma-djr-deck, sans-serif;
        font-size: 1.2em;
        border: solid var(--darkblue);
        color: var(--grey);
        background-color: var(--lightblue);
        border-radius: 25px;
        padding: 0.5em 1em;
    }

    /* CARDS ON CURRENTS (ERWAN) */

    .current-main{
        margin: 0 20%;
    }

    .card-container{
        width: 60%;
        grid-template-columns: none;
        grid-template-rows: 0.8fr 0.2fr;
        margin: 3rem 0;
    }

    .image-cards-container{
        border-radius: 20px 20px 0 0;
        height: 8rem;
    }

    .image-cards{
        width: 100%;
        right: 0;
    }

    .card-gradient:after{
        display: none;
    }

    .add-series-arrow-container{
        width: 2rem;
        height: 2rem;
        position: absolute;
        bottom: 4%;
        right: 4%;
    }

    .container-desktop-current-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card-gradient{
        height: 8rem;
    }

    /* CARDS ON UPCOMING AND WISHLIST (ERWAN) */

    .upcoming-main{
        margin: 0 20%;
    }

    .wishlist-main{
        margin: 0 20%;
    }

    .card-container-upcoming{
        width: 60%;
        grid-template-columns: none;
        grid-template-rows: 0.8fr 0.2fr;
        margin: 4rem 0;
    }

    .upcoming-image-cards-container{
        border-radius: 20px 20px 0 0;
        height: 8rem;
    }

    .image-cards-upcoming{
        width: 100%;
        right: 0;
    }

    .upcoming-card-gradient:after{
        display: none;
    }

    .upcoming-card-gradient{
        height: 8rem;
    }
}




