:root {
    --grey: #e2e2e2;
    --lightblue: #3E85DF;
}

/* CONTINUE WITH COMPONENT (Erwan) */

.continue-with-container{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.continue-text{
    color: var(--grey);
    font-family: forma-djr-text, sans-serif;
    font-size: 1.2rem;

}

.continue-logos-cont{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.icon {
    color: var(--grey);
    margin: auto;
}

/* BOTTOM NAVBAR (Igor) */

.nav-cont {
    background: var(--lightblue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5em 0;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    z-index: 999;
    width: 100%;
}

.nav-icon {
    color: var(--grey);
}

.nav-singlebutton-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-interline {
    width: 0.1em;
    height: 3em;
    background-color: var(--grey);
}

.nav-underline {
    width: 2.5em;
    height: 0.1em;
    background-color: var(--grey);
}

#navlast {
    margin-right: 0.5em;
}

#navfirst {
    margin-left: 0.7em;
}


/* CARDS FOR CURRENT STYLING (Erwan and Igor) */

.main-card{
    display: flex;
    justify-content: center;
}

.card-container{
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr;
    position: relative;
    justify-content: center;
    width: 85%;
    background-color: var(--grey);
    border-radius: 20px;
}

.image-cards-container{
    height: 10.1em;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
}

.image-cards{
    width: 230%;
    position: relative;
    right: 50%;
}

.content-container{
    width: auto;
    margin-left: 1rem;
}

.platform-cards{
    width: 15%;
}

.profile-cards-container{
    position: absolute;
    width: 1.5em;
    left: -4%;
    top: 7%;
    z-index: 99;
}

.profile-cards{
    width:100%;
    margin-bottom: 0.5rem;
    filter: drop-shadow(0 0 0.85rem rgb(56, 56, 56));
}

.text-cards{
    font-family: forma-djr-text, sans-serif;
    margin: 0.5rem 0;
}

.card-gradient {
    position: relative;
    z-index: 1;
    height: 10.1em;
}

.card-gradient:after {
    content: '';
    border-radius: 20px 0 0 20px;
    position: absolute;
    left: 0.5em; top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, 70%, var(--grey))
}

.title-content-card{
    font-size: 1.2rem;
}

.whereat-content-card{
    font-size: 1rem;
}

.description-content-card{
    font-size: 0.9rem;
}

.add-series-arrow-container{
    background-color: var(--lightblue);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 30%;
}

.add-series-arrow{
    color: var(--grey);
}

/* CARDS FOR UPCOMING STYLING (ERWAN) */

.card-container-upcoming{
    display: grid;
    grid-template-columns: 2fr 2.5fr;
    position: relative;
    justify-content: center;
    width: 85%;
    background-color: var(--grey);
    border-radius: 20px;
}

.upcoming-content-container {
    padding-right: 0.3rem;
    width: auto;
    padding-left: 1rem;
}

.upcoming-image-cards-container {
    height: 11rem;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
}

.upcoming-card-gradient {
    position: relative;
    z-index: 1;
    height: 11em;
}

.upcoming-card-gradient:after {
    content: '';
    border-radius: 20px 0 0 20px;
    position: absolute;
    left: 0.5em; top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, 70%, var(--grey))
}

.image-cards-upcoming{
    width: 230%;
    position: relative;
    right: 50%;
}


/* CARDS FOR EXPLORE STYLING (KATE) */

.explore-card-container {
    display: grid;
    grid-template-rows: 1.8fr 2fr 0.3fr;
    position: relative;
    text-align: center;
    background-color: var(--grey);
    border-radius: 20px;
    width: 45%;
    margin-left: 5%;
    margin-top: 5%;
}

.image-explore-cards-container{
    width: 9.6rem;
    overflow: hidden;
    border-radius: 20px 20px 0 0px;
}

.explore-card-gradient {
    position: relative;
    z-index: 1;
    height: 8.1rem;
}

.explore-card-gradient:after {
    content: '';
    background: linear-gradient(to bottom, transparent, 70%, var(--grey));
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
} 

.image-explore-cards{
    width: 150%;
    position: relative;
    right: 20%;
}

.explore-profile-cards-container{
    position: absolute;
    width: 1.5em;
    left: -8%;
    top: 6%;
    z-index: 99;
}

.explore-profile-cards {
    width: 120%;
    margin-bottom: 0.2rem;
    filter: drop-shadow(0 0 0.85rem rgb(56, 56, 56));
}

.explore-content-container {
    text-align: left;
    margin-left: 0.7rem;
}

.explore-title-content-card {
    font-size: 1.3rem;
    padding-bottom: 0.7rem;
    font-family: forma-djr-text, sans-serif;
}

.explore-content-card{
    font-size: 0.9rem;
    font-family: forma-djr-text, sans-serif;
}

.platform-icons {
    width: 25%;
}

.plus-button-container{
    background-color: var(--lightblue);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    bottom: -3%;
    left: 37%;
    z-index: 99;
}

.plus-button{
    color: var(--grey);
}

/* TOPNAV (Igor) */

.topnav-cont {
    display: flex;
    flex-direction: row;
    font-family: forma-djr-text, sans-serif;
    justify-content: space-around;
    align-items: center;
    margin: 2em 2em;
    height: 2em;
}

.topnav-singleitem-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topnav-link {
    text-transform: uppercase;
    color: var(--grey);
    font-size: 1.3rem;
}

.topnav-interline {
    background-color: var(--grey);
    width: 0.08em;
    height: 1.1em;
    margin-bottom: 0.2em;
}

.active{
    border-bottom: #3E85DF 4px solid;
}

