/* RESET CSS
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a {
    text-decoration: none;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset CSS */

/*BODY BACKGROUND-COLOR*/

body{
    background-color: #061D47;
}

/*LANDING PAGE MOBILE VERSION*/

.logo-landing-container{
    margin-top: 25%;
    display: flex;
    justify-content: center;
}

.logo-landing{
    width: 90%;
}

.text-landing-container{
    display: flex;
    text-align: center;
    margin: 15% 2em 0 2em

}

.text-landing{
    color: #e2e2e2;
    font-size: 2rem;
    font-family: forma-djr-deck, sans-serif;
}

.button-landing-container{
    margin-top: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    margin: 30px;
}

.button-landing{
    display: block;
    width: 12rem;
    height: 3rem;
    border-radius: 20px;
    border: none;
    background-color: #F0BD8C;
    font-family: forma-djr-text, sans-serif;
    font-size: 2rem;
    cursor: pointer;
    color: #061D47;
}